body {
	margin: 0;
	padding: 0;
}
.header {
	height: 8vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background-color: #595959;
	color: white;
}

.wrapper-1 {
	min-height: 92vh;
	width: 100%;
	background-color: #f2f2f2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-effect {
	margin-top:30px;
	border-radius: 10px;
	padding: 80px 60px;
	border: solid 1px #595959;
	background-color:#f2f2f2;
	color: #595959;
	font-size: 40px;
}

#response-area {
	min-height: 300px;
	background-color: transparent;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.tablero{
	margin:30px;
	height: 400px;
	width: 400px;
	border-radius: 10px;
	background-color: transparent;

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;

}

.casilla-blanca {
	width: 50px;
	height: 50px;
	background-color: white;

	display: flex;
	justify-content: center;
	align-items: center;

}

.casilla-negra {
	width: 50px;
	height: 50px;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;

}

img {
	height: 30px;
	width: 30px;
	border-radius: 25px;
}



